* {
  box-sizing: border-box;
}
body {
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
}

nav {
  margin-left: -15px;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.loader-container {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.top-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}

.add-course-button {
  padding: 0 7px;
}

.table {
  margin-top: 50px;
}

.table th {
  border-top: none;
}

div.field.has-error {
  border: 1px solid #f8d7da;
  border-radius: 5px;
}

select.has-error {
  border: 2px solid #f8d7da;
}

.field-error {
  color: #721c24;
  font-style: italic;
  font-size: 12px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}

.container-fluid {
  border-bottom: 1px solid rgb(233, 236, 239);
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pagination {
  padding-left: 0;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination>li {
  display: inline;

}

.pagination>li>a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 5px 10px;
  padding: 0 4px;
}

.pagination>.active>a, .pagination>.active>a:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  border-color: #007bff;
  outline: none;
}

ul.pagination li.active {
  background-color: #007bff;
}
ul.pagination li {
  border-right: 1px solid #ddd;
}

.pagination>.disabled>a {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
  outline: none;
}

.main-content {
  margin-top: 10px;
}

.nav-link {
  color: #777;
}

p.lead .btn {
  background-color: rgb(235, 102, 53);
  color: white;
  border: none;
}

p.lead .btn:hover {
  background-color: rgb(235, 85, 31);
}

.fa-exclamation-triangle {
  color: rgb(240, 103, 53);
}

h1.display-4, p, h2, th, td {
color: #555
}

.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  justify-content: space-around;
  height: 120px;
}
